{% assign bg = "bg-body-tertiary" %}
{% assign tx = "text-dark" %}
{% if page.theme %}
    {% if page.theme contains "bg-dark" %}
        {% assign bg = "bg-dark" %}
        {% unless page.theme contains "text" %}
            {% assign tx = "text-light" %}
        {% endunless %}
    {% endif %}
{% endif %}

<nav class="navbar navbar-expand-lg {{bg}}">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <div class="container">
                    <a class="navbar-brand {{tx}}" href="{{site.baseurl}}/">
                        <img src="{{site.baseurl}}/images/website-icon.png" width="32" height="32"
                            class="d-inline-block align-text-top" />
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link {{tx}}" href="{{site.baseurl}}/about">About</a>
            </li>
            {% include topbar-dropdown.html %}
        </ul>
        <!--
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->
    </div>
</nav>