<!doctype html>
<html>
  <head prefix="og: https://ogp.me/ns#">
    {% capture ico %}{% if page.icon %}{{page.icon}}{% else %}favicon.ico{% endif %}{% endcapture %}
    {% capture absolute_ico %}{{ ico | absolute_url }}{% endcapture%}

    <!-- import site styles-->
    <link href="{{site.baseurl}}/styles/base.css" rel="stylesheet" type="text/css" />
    <!-- import bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- if page defines an website icon, then use it, else use default website icon-->
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/{{ico}}" />
    
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:image" content="{{absolute_ico}}" />

    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="dcterms.title" content="{{page.title}}" />
    <meta name="dcterms.created" content="{{page.dateCreated}}" />
    <meta name="dcterms.available" content="{{page.dateAvailable}}" />
    <meta name="dcterms.modified" content="{{page.dateModified}}" />
    <meta name="dcterms.creator" content="{%if page.creator %}{{page.creator}}{% else %}Trystan Schmits{% endif %}" />

  </head>

{% assign bg = "bg-body-tertiary" %}
{% assign tx = "text-dark" %}
{% if page.theme %}
    {% if page.theme contains "bg-dark" %}
        {% assign bg = "bg-secondary" %}
        {% unless page.theme contains "text" %}
            {% assign tx = "text-light" %}
        {% endunless %}
    {% endif %}
{% endif %}

  <body class="{{bg}} {{tx}}">
    <header>
      {% include topbar.html %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>